
.header{
    display: flex;
    height: 60px;
    background-color: #131921;
    position:sticky;
    z-index:100;
    align-items: center;
}

.header_logo{
 width:100px;
 object-fit:contain;
 margin: 0 20px;
 height: auto;
 margin-top: 18px;
}
.search_icon{
    padding: 5px;
    height: 22px !important;
    background-color:#cd9042 ;
}
.header_search{
    display: flex;
    flex:1;
    align-items: center;
    border-radius: 24px;
    
}
.search_input{
    width:100%;
    border: none;
}
.header_nav{
    display: flex;
    justify-content: space-evenly;
}
.header_option{
    display: flex;
    color: white;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: column;
}
.option1{
    font-size: 10px;
}
.option2{
    font-size: 13px;
    font-weight:800;
}